<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <a href="/">home</a>
      <a href="/auth/login">login</a>
      <a href="/auth/signup">signin</a>
      <a href="/private">private</a>
    </nav>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>